; if you don't care what this editorconfig this is
; just take a look at the lines below
; and stick with this style conventions.
; otherwise checkout http://editorconfig.org/
; install the extension for your editor
; and never care about spaces vs tabs anymore!



; top-most EditorConfig file
root = true

[*]

; Unix-style newlines with a newline ending every file
end_of_line = lf
insert_final_newline = true

; 2 space indentation
indent_style = space
indent_size = 2
