body, html {
  width: 100%;
  padding: 0;
  margin: 0;
  color: #363636;
}



.clear {
  clear: both;
}



.month-header {
  padding: 15px;
  color: #fff;
  margin: 0;
  background: #424242;
  font-weight: 500;
  /* TODO: test if this works in any browser */
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
}



.days, .events {
  padding: 0;
  margin: 0;
}



.day {
  list-style: none;
  padding: 15px;
}

.day:nth-child(even) {
  background: #FAFAFA;
}

#today {
  border-top: 1px solid #424242;
  border-bottom: 1px solid #424242;
}

#today .day-label {
  color: #000;
}

.past {
  opacity: 0.7;
}


.day-label {
  color: #535353;
  font-weight: 500;
  float: left;
}


.events {
  float: left;
  padding: 0 10px;
  width: 80%;
}

.event {
  list-style: none;
  float: left;
  margin: 3px;
  padding: 2px 4px;
  border: 1px dashed #747474;
  border-radius: 2px;
  max-width: 30%;
}


.event-content {

}

.event-content.hide {
  display: none;
}

.event-edit {
  display: none;
  max-width: calc(100% - 10px);
  max-height: 100px;
}

.event-edit.show {
  display: inline;
}
