body, html {
  width: 100%;
  padding: 0;
  margin: 0;
  color: #363636;
}


a {
  color: #363636;
  font-weight: 700;
  letter-spacing: 1px;
}


.clear {
  clear: both;
}



.menu {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
  padding: 10px 15px;
  z-index: 1;
  box-shadow: 0px 0px 10px -3px #C2C2C2;
}

/* mobile */
@media (max-width: 720px) {
  .menu {
    top: inherit;
    bottom: 0;
  }
}


.today-link {
  text-decoration: none;
}



.month-header {
  padding: 15px;
  color: #fff;
  margin: 0;
  background: #424242;
  font-weight: 500;
  /* TODO: test if this works in any browser */
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}



.days, .events {
  padding: 0;
  margin: 0;
}



.day {
  list-style: none;
  padding-right: 15px;
  min-height: 33px;
  cursor: pointer;
}

.day:nth-child(even) {
  background: #FAFAFA;
}

.day-label {
  color: #535353;
  font-weight: 500;
  float: left;
  padding: 15px 15px 15px 15px;
  width: 60px;
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


#today {
  border-top: 1px solid #424242;
  border-bottom: 1px solid #424242;
}

.past {
  opacity: 0.7;
}



.events {
  float: left;
  padding: 8px 0 0 10px;
  width: 70%;
}

.event {
  list-style: none;
  float: left;
  margin: 3px;
  padding: 2px 4px;
  border: 1px dashed #747474;
  border-radius: 2px;
  max-width: 30%;
}

.event-content {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: #000;
  margin: 0
}
